.main {
  font-family: "usual", sans-serif;
  overflow-x: hidden;
}

.banner {
  padding: 0.5rem;
  background-color: #3579ce;
  box-shadow: 7px 7px 10px -7px rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.banner img {
  height: 32px;
}

.banner p {
  margin: 0;
}

.bannerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerItem:first-child {
  margin-bottom: 1rem;
}

.podcastLink {
  color: white;
  font-weight: bold;
}

.sectionContainer {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.hero {
  background-image: url(/images/background.webp);
  background-position: 80%;
  background-size: cover;
  padding: 1.5rem 1.5rem 4rem;
  color: white;
  font-weight: lighter;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heroContent > h1 {
  font-weight: lighter;
  font-size: 2rem;
}

.heroContent > h1 > span {
  font-weight: bold;
}

.heroImageMobile {
  width: 100%;
  align-self: center;
}

.heroImageDesktop {
  display: none;
}

.button {
  display: inline-block;
  color: white;
  background-color: #3579ce;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  border-radius: 16px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 7px 7px 10px -7px rgba(0, 0, 0, 0.75);
}

.products {
  padding: 4rem 1.5rem;
  color: #45268d;
}

.products h2 {
  font-size: 2rem;
  font-weight: bold;
}

.products h3 {
  font-size: 1.5rem;
  font-weight: lighter;
}

.auvs {
  color: #45268d;
}

.product {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product p {
  width: 66%;
  margin-top: -4rem;
}

.carouselContainer {
  max-width: 270px !important;
}

.carouselContainer > img {
  width: 100%;
}

.comingSoon {
  text-align: center;
  margin: 3rem auto;
  font-size: 1.5rem;
  font-weight: bold;
}

.blurb {
  padding: 0rem 1.5rem 4rem;
  color: #45268d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blurb .sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lightIcon {
  width: 50%;
  margin: 1.5rem 0;
}

.contact {
  background-image: url("/images/contactBackground.webp");
  background-position: center;
  background-size: cover;
  padding: 4rem 1.5rem 1rem;
  color: white;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h2 {
  font-size: 2rem;
  font-weight: bold;
}

.contact a {
  color: white;
  font-weight: bold;
  margin: 1rem 0 2rem;
  font-size: 1rem;
}

.hidden {
  display: none;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputLine {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.5rem;
}

.input input,
.input textarea {
  background: none;
  border: 1px solid white;
  border-radius: 16px;
  height: 3rem;
  margin-top: 0.5rem;
  padding: 1rem 1rem;
  color: white;
  width: 100%;
}

.input textarea {
  height: 12rem;
}

.stateZip {
  display: flex;
  width: 100%;
}

.stateZip .input:first-child {
  margin-right: 1rem;
}

.form button {
  border: none;
  width: 100%;
}

.footer {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer a {
  margin: 0;
}

.footer img {
  width: 12rem;
  margin-bottom: 1.5rem;
}

.copyright {
  font-size: 12px;
  margin-top: 3rem;
}

.createdBy {
  font-size: 12px;
}

.createdBy a {
  margin-left: 0.25rem;
}

.success {
  width: 100vw;
  height: 100vh;
  background-image: url(../public/images/background.webp);
  background-position: 80%;
  background-size: cover;
  padding: 1.5rem 1.5rem 4rem;
  color: white;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.success a {
  color: white;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .nav {
    width: 100%;
  }

  .banner {
    flex-direction: row;
  }

  .banner img {
    margin-right: 2rem;
  }

  .bannerItem {
    flex-direction: row;
  }

  .bannerItem:first-child {
    margin-bottom: 0;
  }

  .hero,
  .products,
  .contact {
    padding: 4rem 3rem 4rem;
  }

  .hero h1 {
    width: 66%;
    font-size: 3rem;
    margin-top: 4rem;
  }

  .heroContent img {
    width: 66%;
  }

  .heroContent p {
    width: 66%;
  }

  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .comingSoon {
    width: 66%;
  }

  .blurb img {
    width: 33%;
  }

  .blurb p {
    width: 66%;
  }
}

@media screen and (min-width: 1024px) {
  .hero,
  .products,
  .contact {
    padding: 4rem 3rem 4rem;
  }

  .sectionContainer {
    max-width: 1280px;
    margin: 0 auto;
  }

  .hero {
    transform: scaleX(-1);
  }

  .hero h1 {
    margin-bottom: 1.5rem;
  }

  .hero .heroContentContainer,
  .hero .nav {
    transform: scaleX(-1);
  }

  .heroContentContainer {
    display: flex;
    align-items: center;
  }

  .heroImageMobile {
    display: none;
  }

  .heroImageDesktop {
    display: block;
    width: 33%;
    transform: scale(1.5);
  }

  .productList {
    display: flex;
    justify-content: space-around;
  }

  .product h3 {
    width: 66%;
  }

  .comingSoon {
    width: 33%;
    margin-top: 5rem;
  }

  .blurb img {
    width: 15%;
  }

  .form {
    width: 66%;
    margin: 0 auto;
  }

  .inputLine {
    flex-direction: row;
    gap: 1rem;
  }

  .stateZip {
    width: 50%;
    align-self: flex-start;
  }

  .form button {
    width: 33%;
  }
}
